header{
    position: relative;
    
}
    nav{
        padding: 10px 0;
        background: rgba(255, 255, 255, 0.90);
        border-radius: 75px;

        @media(max-width: 992px){
            padding: 5px 15px;
        }
    }
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media(max-width: 992px){
		justify-content: flex-start;	  
    }

    &__logo{
        img{
            height: 16px;
        }
    }

    &__wrapper{
        width: 65%;
        display: grid;
        grid-template-columns: repeat(2,130px) repeat(2,70px);
        column-gap: 41px;

        @media (max-width: 992px){
            display: none;
        }
    }
    &__links{
        display: flex;
        align-items: center;

        @media(max-width: 992px){
            margin-left: 65px;
        }
        
    }
    &__link{
        color: #22253B;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        &_mr15{
            margin-right: 15px;

            @media (max-width: 992px){
                display: none;
            }
        }
        &:hover{
            text-decoration: none;
            color:$main_color;
            transition: 0.5s all;
        }
        @media(max-width: 1200px){
            font-size: 12px;
            margin-left: 20px;
        }
    }
}

.submenu{
    display: none;
}

    @media(max-width: 992px){
        .submenu{
            position: fixed;
            z-index: 1000;
            width: 340px;
            height: 100vh;
            background: #fff;
            right: -100%;
            top: 10px;
            border-radius: 20px;
            transition: 0.6s all;
            padding: 75px 34px 34px 0;
            &_active {
                right: 10px;
        }
        &__close{
            position: absolute;
            top: 25px;
            right: 20px;
        }
        ul{
            margin: 0;
	        list-style-type: none;
            li{
                margin-bottom: 25px;
                &:last-child{
                    margin-bottom: 240px;
                }
                a{
                    color: #22253B;
                    font-size: 20px;
                    font-weight: 500;
                   
                    &:hover{
                        text-decoration: none;
                        color:$main_color;
                        transition: 0.5s all;
                    }
                }
            }

        }
        &__btn{
            margin-left: 40px;
        }

    }

    @media(max-width: 768px){
        .submenu{
            width: 260px;
        }

        
    }

}


